doc/nm81 - 4 - Padrinho -Fluxo Convites INEMA - Supabase.json
{
  "name": "nm81 - 4 - Padrinho -Fluxo Convites INEMA - Supabase",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "135bed83-c62f-4387-a2af-d6c0db7075d7",
      "name": "Padrinho Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1040,
        16
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Promoção do Convite do INEMA.VIP",
        "message": "Olá! 👋\n\nVerificamos que o padrinho indicado não existe ou o link que você usou está incorreto*.\nPor favor, confirme com o seu padrinho — ele pode te enviar o link correto de convite para que você participe da promoção e entre na nossa Comunidade INEMA.VIP.\n\nEssa promoção é exclusiva para novos participantes convidados pelos padrinhos, que têm a oportunidade de apresentar o acesso à nossa comunidade com mais de 20 áreas de conteúdo e autoaprendizagem.\n\n💬 Assim que tiver o link certo, é só clicar e concluir o cadastro!\n\nINEMA.VIP\nComunidade de Autoaprendizagem",
        "toList": [
          "={{ $('Get many rows').item.json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "e07fc0f1-8633-44f4-a197-e95250a19536",
      "name": "Avisar: Padrinho inexistente",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        -816,
        112
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "KybdixYsE2elrSXC",
          "name": "Gmail FTD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.convites_usados }}",
              "value2": "={{ $json.convites_enviados }}"
            }
          ]
        }
      },
      "id": "f3c9fb98-4077-42d6-91b1-239b568d6410",
      "name": "Tem convites?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -816,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.email }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "99b653c1-98f6-406b-b2b5-d318bdef3cfc",
      "name": "Remetente já é membro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -368,
        -368
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Promoção Convite INEMA VIP",
        "message": "Olá! 🌟 \n\n A promoção atual é voltada especialmente para novas pessoas que ainda não fazem parte da Comunidade INEMA.VIP.\n\n Verificamos que seu cadastro já está ativo na nossa comunidade, então você já faz parte do nosso grupo de aprendizado e conexões! \n\n🙌  Mas se quiser aproveitar alguma outra promoção ou benefício, pode conversar com a Tiza, que está ajudando os membros a encontrarem novas oportunidades e desafios dentro da comunidade.  Lembrando que esta ação faz parte da Promoção dos Padrinhos, onde membros da comunidade podem convidar seus Afiliados e oferecer a chance de crescer e se desenvolver com nossos conteúdos — são mais de 20 áreas de conhecimento e autoaprendizagem disponíveis.  \n\n💬 Qualquer dúvida, é só chamar!\nINEMA.VIP ",
        "toList": [
          "={{ $('Get many rows').item.json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "b071f0c5-d2a3-47a0-bb33-e35cd5e39587",
      "name": "Avisar Remetente: Já é membro",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        16,
        -96
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "KybdixYsE2elrSXC",
          "name": "Gmail FTD"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Promoção Convite INEMA VIP",
        "message": "Olá! 🌟 \n\n A promoção atual é voltada especialmente para novas pessoas que ainda não fazem parte da Comunidade INEMA.VIP.\n\n Verificamos que o cadastro do Afiliado já está ativo na nossa comunidade, então ele já faz parte do nosso grupo de aprendizado e conexões! \n\nEntão pode enviar o Convite para outro.\n\n🙌  Mas se quiser aproveitar alguma outra promoção ou benefício, pode conversar com a Tiza, que está ajudando os membros a encontrarem novas oportunidades e desafios dentro da comunidade.  Lembrando que esta ação faz parte da Promoção dos Padrinhos, onde membros da comunidade podem convidar seus Afiliados e oferecer a chance de crescer e se desenvolver com nossos conteúdos — são mais de 20 áreas de conhecimento e autoaprendizagem disponíveis.  \n\n💬 Qualquer dúvida, é só chamar!\nINEMA.VIP ",
        "toList": [
          "={{ $('Get a row').item.json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "ec4ef07f-e04e-4c4f-9ff0-84dd880c796a",
      "name": "Avisar Padrinho: Convidado já membro",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        96,
        224
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "KybdixYsE2elrSXC",
          "name": "Gmail FTD"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Promoção Convite INEMA.VIP  - Acesso Aprovado",
        "message": "=Olá! 👋\n\nSeu acesso à Comunidade INEMA.VIP já está disponível! 🎉\nVocê pode entrar agora mesmo clicando neste link:\n👉 https://t.me/INEMAMembroBot?start={{ $('Pegar Codigo1').item.json.codigo }}\n\nAo entrar, no GRUPO INEMA.VIP procure o tópico “REPOSITÓRIOS” — lá você encontrará os links para todos os outros grupos e áreas da comunidade.\n\nSabemos que tudo que é novo e grande exige um tempo de adaptação e aprendizado, e é exatamente por isso que ninguém caminha sozinho por aqui. 🌱\n\nConte com seu padrinho e com a Tiza, que são seus pontos de apoio dentro da comunidade. Eles vão te orientar, esclarecer dúvidas e ajudar você a aproveitar ao máximo tudo que o INEMA.VIP oferece.\n\nTemos muito conteúdo e diversas áreas de desenvolvimento, então vá com calma — domine uma por vez, explore, pratique e aproveite cada aprendizado.\n\nSeu acesso Liberado até fim de Novembro 2025!\n\nBem-vindo(a) à comunidade! 🌟\nVocê acaba de entrar em um ambiente feito para crescer, aprender e transformar.\nINEMA.VIP\nComunidade de Autoaprendizado. \nAgradecimento ao Teu Padrinho:\n{{ $('Get a row').item.json.nome }}",
        "toList": [
          "={{ $('Get many rows').item.json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "a7f265ad-8dd1-4faa-a968-b08661e97f44",
      "name": "Notificar Convidado: Aprovado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        736,
        -400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "KybdixYsE2elrSXC",
          "name": "Gmail FTD"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Promoção Convites INEMA.VIP - Aprovado Afiliado",
        "message": "=\nOlá, Padrinho! 🌟\n\nTemos uma ótima notícia: \n\n{{ $('Get many rows').item.json.nome }}\n{{ $('Get many rows').item.json.email }}\n\nAcaba de ganhar acesso à Comunidade INEMA.VIP! 🎉\nEsperamos que, com essa oportunidade, ele possa se desenvolver, descobrir novas habilidades e ajudar muitas outras pessoas, além de expandir todo o seu potencial.\n\nE o seu papel nisso é essencial. 🙌\nComo padrinho, você tem a missão de ajudá-lo a compreender nossa comunidade, mostrar como tudo funciona e, principalmente, inspirá-lo a manter a determinação para alcançar resultados reais.\n\nFique feliz — porque cada pessoa que você apoia é uma semente de transformação.\nAcreditamos que quem ajuda o outro a crescer, cresce muito mais. 🌱\n\nEssa é a nossa filosofia. 💫\n\nINEMA.VIP\nComunidade de Autoaprendizagem. ",
        "toList": [
          "={{ $('Get a row').item.json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "446d4183-abc8-45a1-b32e-7e290f9cca8e",
      "name": "Notificar Padrinho: Aprovado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        800,
        -224
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "KybdixYsE2elrSXC",
          "name": "Gmail FTD"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1712,
        16
      ],
      "id": "8e6a26cf-5999-4965-9e01-638d64bd3707",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "afiliados",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pendente"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1488,
        16
      ],
      "id": "fd6e5dd1-0a0c-4905-bee0-afd4888ebbdd",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "pessoas_fisicas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.padrinho_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1264,
        16
      ],
      "id": "470d7452-26a9-40b1-a852-c66cb38424c8",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "pessoas_fisicas",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Get many rows').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        -368
      ],
      "id": "3d91afdc-aa9f-449f-8e18-96318e114c4f",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "codigos_convite",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -80,
        -528
      ],
      "id": "8b138988-3a18-4eba-8da5-7c0b0c9a78f6",
      "name": "Pegar Codigo",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pessoas_fisicas",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Get a row').item.json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "convites_usados",
              "fieldValue": "={{ $('Get a row').item.json.convites_usados + 1 }}\n"
            },
            {
              "fieldId": "convites_dtatual",
              "fieldValue": "now()"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        -240
      ],
      "id": "e66a3d26-3e19-4923-b0e2-715d60a48d50",
      "name": "Diminuir convites",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "codigos_convite",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Get many rows').item.json.email }}"
            },
            {
              "fieldId": "data",
              "fieldValue": "now()"
            },
            {
              "fieldId": "atualizado_em",
              "fieldValue": "now()"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        -528
      ],
      "id": "b5d6a2fc-c9e8-4563-bc22-16422d90474e",
      "name": "Pegar Codigo1",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "afiliados",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_email",
              "fieldValue": "={{ $json.atualizado_em }}"
            },
            {
              "fieldId": "email_enviado",
              "fieldValue": "={{ true }}\n"
            },
            {
              "fieldId": "status",
              "fieldValue": "Enviado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        -352
      ],
      "id": "2fc65c80-5ec8-4892-a6ef-2a0165b91d4a",
      "name": "atualizar Afiliados",
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "afiliados",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_email",
              "fieldValue": "now()"
            },
            {
              "fieldId": "status",
              "fieldValue": "Já Cadastrado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        -32
      ],
      "id": "cb4ff8a8-2651-49f4-bbde-b769b536d085",
      "name": "atualizar Afiliados1",
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Promoção Convite INEMA VIP",
        "message": "Olá! 👋\n\nInfelizmente, este padrinho já não tem mais convites disponíveis no momento. 😔\nMas não se preocupe! 💫 Você pode falar com a Tiza no INEMA.Comunidade, que está ajudando a ver novas oportunidades e promoções para participar da Comunidade INEMA.VIP.\n\nEla sempre encontra um jeitinho de ajudar quem realmente quer fazer parte e aproveitar nossos conteúdos e programas de autoaprendizagem em mais de 20 áreas.\n\n💬 Entra em contato com ela e diz que você veio por recomendação de um padrinho — talvez ela consiga algo especial pra você!\n\n💬 Qualquer dúvida, é só chamar!\nINEMA.VIP ",
        "toList": [
          "={{ $('Get many rows').item.json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "578b692f-c079-4c8b-a195-c34c2f11b2ed",
      "name": "Avisar Convidado: Já Cadastrado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        -592,
        -176
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "KybdixYsE2elrSXC",
          "name": "Gmail FTD"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Promoção de Padrinho INEMA VIP",
        "message": "\nOlá! 👋\n\nSeus convites já se esgotaram nesta promoção. 🎉\nIsso mostra que você realmente está ajudando muita gente a entrar na Comunidade INEMA.VIP e se desenvolver com nossos conteúdos! 🙌\n\nMas se quiser ganhar mais convites, fala com a Tiza — talvez ela consiga liberar mais alguns para você continuar convidando novos afiliados e espalhando esse movimento de crescimento e aprendizado.\n\n💬 Ela está cuidando dos ajustes e sempre dá um jeitinho de ajudar quem está engajado na comunidade!\n\n💬 Qualquer dúvida, é só chamar!\nINEMA.VIP ",
        "toList": [
          "={{ $('Get a row').item.json.email }}"
        ],
        "additionalFields": {}
      },
      "id": "f4cfa669-4094-494d-99ff-e04254fc9a33",
      "name": "Avisar Padrinho: Já Cadastrado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        -592,
        16
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "KybdixYsE2elrSXC",
          "name": "Gmail FTD"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "afiliados",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_email",
              "fieldValue": "now()"
            },
            {
              "fieldId": "status",
              "fieldValue": "Já Cadastrado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -384,
        -96
      ],
      "id": "133f89d0-2504-4dbc-a1ea-669a32ef1b9e",
      "name": "atualizar Afiliados2",
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "afiliados",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_email",
              "fieldValue": "now()"
            },
            {
              "fieldId": "status",
              "fieldValue": "Sem Padrinho"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        192
      ],
      "id": "3969dfc5-cf5a-49c8-b94a-84ca6b82cac4",
      "name": "atualizar Afiliados3",
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Get a row').item.json.email }}",
              "value2": "={{ $('Get many rows').item.json.email }}"
            }
          ]
        }
      },
      "id": "bb7c357b-0710-4d44-93e9-4341f253a8de",
      "name": "Remetente já é membro?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -144,
        112
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1760,
        -224
      ],
      "id": "b5eb0878-6a59-45d8-9e51-738d12ff9d41",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Padrinho Existe?": {
      "main": [
        [
          {
            "node": "Avisar: Padrinho inexistente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tem convites?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem convites?": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar Convidado: Já Cadastrado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Avisar Padrinho: Já Cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remetente já é membro?": {
      "main": [
        [
          {
            "node": "Pegar Codigo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar Remetente: Já é membro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remetente já é membro?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Padrinho Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Remetente já é membro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Codigo": {
      "main": [
        [
          {
            "node": "Pegar Codigo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diminuir convites": {
      "main": [
        [
          {
            "node": "Notificar Convidado: Aprovado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar Padrinho: Aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Codigo1": {
      "main": [
        [
          {
            "node": "atualizar Afiliados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar Afiliados": {
      "main": [
        [
          {
            "node": "Diminuir convites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Remetente: Já é membro": {
      "main": [
        [
          {
            "node": "atualizar Afiliados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Convidado: Já Cadastrado": {
      "main": [
        [
          {
            "node": "atualizar Afiliados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar: Padrinho inexistente": {
      "main": [
        [
          {
            "node": "atualizar Afiliados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remetente já é membro?1": {
      "main": [
        [],
        [
          {
            "node": "Avisar Padrinho: Convidado já membro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01422ecf-b1aa-432e-bf0f-e5ae908ab1f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "099f1e1befc36cb37426544d3db2ed3a697cbeabeec5e3f29e2e2beeccc011e0"
  },
  "id": "81GvDLBJq8WkNZpj",
  "tags": []
}