doc/nm81 - 1- pix Atualizar Labels de Emails Supabase.json
{
  "name": "nm81 - 1- pix Atualizar Labels de Emails Supabase",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "labelIds": [
            "INBOX"
          ],
          "q": "filename:pdf OR filename:jpg OR filename:png -label:EmailProcessado"
        },
        "options": {}
      },
      "id": "a38a4140-6a16-4722-916f-a08275c95036",
      "name": "Gmail - Buscar Não Processados",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -1296,
        288
      ],
      "webhookId": "fbf2f8b4-ccde-4473-a80d-16cf2390903e",
      "credentials": {
        "gmailOAuth2": {
          "id": "dEQGTnEiWDWDP6hD",
          "name": "Gmail PIX"
        }
      },
      "notes": "MUDANÇAS:\n1. limit: 500 (evita timeout)\n2. -label:EmailProcessado (só pega não processados)\n\nProcessa 500 por vez até acabar!"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "id": "c7c366ae-9bfa-4ef0-8244-ea7d23084205",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1072,
        288
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "1d66c5cf-5561-43df-8662-029ea5a27cc5",
      "name": "Gmail - Ler Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -848,
        288
      ],
      "webhookId": "eb44a618-7a92-4ebb-ad68-404cae9450ea",
      "credentials": {
        "gmailOAuth2": {
          "id": "dEQGTnEiWDWDP6hD",
          "name": "Gmail PIX"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -624,
        288
      ],
      "id": "3b68e2b6-f7e3-4343-b14b-a01aacf4b649",
      "name": "Wait (Rate Limit)",
      "webhookId": "b2bede5d-6c48-47d1-98d6-633f539ee507",
      "notes": "0.5s delay = seguro\nSe não tiver erro 429, pode remover"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const msg = item.json;\n\n  console.log('Processing email ID:', msg.id);\n\n  const getHeader = (name) => {\n    let headers = [];\n    if (msg.payload && msg.payload.headers) {\n      headers = msg.payload.headers;\n    } else if (msg.headers) {\n      headers = msg.headers;\n    }\n    if (!Array.isArray(headers)) return '';\n    const h = headers.find(h => h.name && h.name.toLowerCase() === name.toLowerCase());\n    return h ? (h.value || '') : '';\n  };\n\n  let from = msg.from || getHeader('From') || '';\n  let to = msg.to || getHeader('To') || '';\n  let subject = msg.subject || getHeader('Subject') || '';\n  let bodyText = msg.textPlain || msg.plainText || msg.text || '';\n  let bodyHtml = msg.textHtml || msg.html || '';\n\n  if (!bodyText && msg.payload) {\n    if (msg.payload.body && msg.payload.body.data) {\n      try {\n        bodyText = Buffer.from(msg.payload.body.data.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf8');\n      } catch (e) {}\n    }\n    if (!bodyText && msg.payload.parts) {\n      for (const part of msg.payload.parts) {\n        if (part.mimeType === 'text/plain' && part.body && part.body.data) {\n          try {\n            bodyText = Buffer.from(part.body.data.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf8');\n            break;\n          } catch (e) {}\n        }\n      }\n    }\n  }\n\n  if (!bodyHtml && msg.payload && msg.payload.parts) {\n    for (const part of msg.payload.parts) {\n      if (part.mimeType === 'text/html' && part.body && part.body.data) {\n        try {\n          bodyHtml = Buffer.from(part.body.data.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf8');\n          break;\n        } catch (e) {}\n      }\n    }\n  }\n\n  let dateReceived = null;\n  const dateStr = msg.date || getHeader('Date') || msg.internalDate;\n  if (dateStr) {\n    try {\n      if (typeof dateStr === 'number' || /^\\d+$/.test(dateStr)) {\n        dateReceived = new Date(parseInt(dateStr)).toISOString();\n      } else {\n        dateReceived = new Date(dateStr).toISOString();\n      }\n    } catch (e) {}\n  }\n\n  let labels = msg.labelIds || msg.labels || [];\n  let attachmentsCount = 0;\n  if (Array.isArray(msg.attachments)) {\n    attachmentsCount = msg.attachments.length;\n  } else if (msg.payload && msg.payload.parts) {\n    attachmentsCount = msg.payload.parts.filter(p => p.filename && p.filename.length > 0 && !/^text\\/(plain|html)$/.test(p.mimeType)).length;\n  }\n\n  let rawHeaders = [];\n  if (msg.payload && msg.payload.headers) {\n    rawHeaders = msg.payload.headers;\n  } else if (msg.headers) {\n    rawHeaders = msg.headers;\n  }\n\n  console.log('Extraídos:', { from: from || 'VAZIO', to: to || 'VAZIO', subject: subject || 'VAZIO', bodyText: bodyText ? 'OK' : 'VAZIO', date: dateReceived || 'VAZIO' });\n\n  output.push({\n    json: {\n      message_id: msg.id || '',\n      thread_id: msg.threadId || null,\n      from: from,\n      to: to,\n      subject: subject,\n      snippet: msg.snippet || '',\n      body_text: bodyText,\n      body_html: bodyHtml,\n      date_received: dateReceived,\n      labels: labels,\n      attachments_count: attachmentsCount,\n      raw_headers: rawHeaders\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "92a84680-c8fc-4c14-ae92-5aa9d76bc32a",
      "name": "Process Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        64
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => { const bins = item.binary || {}; let count = 0; for (const [k,b] of Object.entries(bins)) { const mt = (b.mimeType||'').toLowerCase(); if (!/^text\\/(plain|html)$/.test(mt)) count++; } return { json: { ...item.json, hasAttachments: count > 0, message_id: item.json.id || item.json.message_id }, binary: item.binary }; });"
      },
      "id": "614217d0-7a44-4f47-a1bc-5f9b04dcb04e",
      "name": "Analyze Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        480
      ]
    },
    {
      "parameters": {
        "tableId": "emails",
        "dataToSend": "autoMapInputData"
      },
      "id": "d7d40b94-3242-41a5-a3d5-d232aa647b11",
      "name": "Supabase Upsert Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.hasAttachments}}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "id": "e28049e4-c83b-47e3-8857-21b7e9db2735",
      "name": "Has Attachments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -176,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const messageId = item.json.id || item.json.message_id;\n  const bins = item.binary || {};\n  let idx = 0; // contador de anexos\n  for (const [key, bin] of Object.entries(bins)) {\n    const mt = (bin.mimeType || 'application/octet-stream').toLowerCase();\n    if (/^text\\/(plain|html)$/.test(mt)) continue;\n\n    const raw = bin.fileName || key || 'attachment';\n    const filename = raw.replace(/[^\\w.\\-]+/g, '_').slice(0, 255);\n\n    // adiciona o índice no final do nome\n    const uniqueFilename = `${idx}_${filename}`;\n    const storagePath = `emails/${messageId}/${uniqueFilename}`;\n\n    out.push({ \n      json: { \n        message_id: messageId, \n        filename: uniqueFilename, \n        mime_type: bin.mimeType || 'application/octet-stream', \n        size: bin.fileSize || 0, \n        storage_path: storagePath\n      }, \n      binary: { \n        data: bin \n      } \n    });\n\n    idx++; // incrementa o índice\n  }\n}\nreturn out;\n"
      },
      "id": "127d983f-9898-41f1-8ed5-b23ac353cd82",
      "name": "Prepare Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lcmaaossplssflfrrank.supabase.co/storage/v1/object/email-attachments/{{$json.storage_path}}?upsert=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "0a6b20f0-9b8c-407b-b44d-24721328f7bc",
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        384
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mLnzdQmw1XeTRgFX",
          "name": "Supabase inemaFTD Servico API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nconst supabaseUrl = 'https://lcmaaossplssflfrrank.supabase.co';\n\n// pega todos os itens vindos do nó anterior\nconst prepItems = $items(\"Prepare Attachments\");\n\nfor (const item of prepItems) {\n  const prepData = item.json;\n\n  // URL pública de acesso ao arquivo (ajuste o nome do bucket se mudar)\n  const storageUrl = `${supabaseUrl}/storage/v1/object/public/email-attachments/${prepData.storage_path}`;\n\n  out.push({\n    json: {\n      message_id: prepData.message_id || null,\n      filename: prepData.filename,\n      mime_type: prepData.mime_type,\n      size: parseInt(prepData.size) || Math.round(parseFloat(prepData.size) * 1024) || 0,\n      storage_path: prepData.storage_path,\n      storage_url: storageUrl\n    }\n  });\n}\n\nreturn out;\n"
      },
      "id": "21d446c4-291b-4ae5-aa5b-5779d8d98e1e",
      "name": "Prepare Metadata for DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        384
      ]
    },
    {
      "parameters": {
        "tableId": "email_attachments",
        "dataToSend": "autoMapInputData"
      },
      "id": "621e32f7-dbfe-4d0e-b768-0898819b339d",
      "name": "Supabase Upsert Attachment Row",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        384
      ],
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message_id",
              "value": "={{$json.message_id}}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "e85194d9-85f8-4072-bbfc-77fcae4a97dd",
      "name": "Attachment Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        944,
        384
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message_id",
              "value": "={{$item(0).$node['Gmail - Ler Email'].json.id}}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "d17b158c-c358-47a7-95ab-a48811521ee0",
      "name": "No Attachments Placeholder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        944,
        576
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "7b85b285-356f-4e8f-9f94-547af9dfddca",
      "name": "Merge (Wait Email + Attachments)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1168,
        384
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_3464130633058056602"
        ]
      },
      "id": "bcf26d42-a967-4232-93f8-f7fca88cfd44",
      "name": "✅ Marcar como Processado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1392,
        384
      ],
      "webhookId": "2212211c-f82f-422d-88df-ffe5c67d2012",
      "credentials": {
        "gmailOAuth2": {
          "id": "dEQGTnEiWDWDP6hD",
          "name": "Gmail PIX"
        }
      },
      "notes": "IMPORTANTE:\n1. Crie a label 'EmailProcessado' no Gmail primeiro\n2. Este nó marca o email como processado\n3. Próxima execução não pega este email novamente\n\nQuando não achar mais emails = TERMINOU!"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "f763d000-95d4-4232-8c58-5aced94372f2",
      "name": "Schedule Trigger (3h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        288
      ],
      "retryOnFail": false,
      "notes": "Roda a cada 3 horas\n500 emails × 8 exec/dia = 4000 emails/dia\n\nPode ajustar:\n- 6h = mais lento\n- 1h = mais rápido (cuidado com rate limit)"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "emails",
        "filters": {
          "conditions": [
            {
              "keyName": "message_id",
              "keyValue": "={{ $json.message_id }}"
            }
          ]
        }
      },
      "id": "efd94bd5-c715-4320-a7a4-a8d63b8f7010",
      "name": "Buscar Emails Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mLnzdQmw1XeTRgFX",
          "name": "Supabase inemaFTD Servico API"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageLabel",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_3464130633058056602"
        ]
      },
      "id": "49fdb4b5-c125-4ace-b198-bd30f6d61d39",
      "name": "Atualizar Label no Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        704,
        -208
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "dEQGTnEiWDWDP6hD",
          "name": "Gmail PIX"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9e281ba-cb3d-471c-bf20-3a05fb44f9f8",
              "leftValue": "={{ $json.message_id }}",
              "rightValue": "={{ $('Process Email').item.json.message_id }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -160
      ],
      "id": "c3283a45-8bcc-4152-8cf3-2a438cf08ea8",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7a8c47d-4d3c-42c7-8c6b-78fc9c95fc6a",
              "name": "message_id",
              "value": "={{ $('Process Email').item.json.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -80
      ],
      "id": "3ac4fc5b-623d-42de-9c9d-9091d0f5f7fc",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail - Buscar Não Processados": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Gmail - Ler Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Ler Email": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Process Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email": {
      "main": [
        [
          {
            "node": "Supabase Upsert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Attachments": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert Email": {
      "main": [
        [
          {
            "node": "Merge (Wait Email + Attachments)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Prepare Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Attachments Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Attachments": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Prepare Metadata for DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metadata for DB": {
      "main": [
        [
          {
            "node": "Supabase Upsert Attachment Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert Attachment Row": {
      "main": [
        [
          {
            "node": "Attachment Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment Done": {
      "main": [
        [
          {
            "node": "Merge (Wait Email + Attachments)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Attachments Placeholder": {
      "main": [
        [
          {
            "node": "Merge (Wait Email + Attachments)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge (Wait Email + Attachments)": {
      "main": [
        [
          {
            "node": "✅ Marcar como Processado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (3h)": {
      "main": [
        [
          {
            "node": "Gmail - Buscar Não Processados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Emails Supabase": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Label no Gmail": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Atualizar Label no Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Upsert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95905e02-1424-493b-9856-fff146b2671c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "099f1e1befc36cb37426544d3db2ed3a697cbeabeec5e3f29e2e2beeccc011e0"
  },
  "id": "GBrdVDiqOOs3zteI",
  "tags": []
}