doc/nm81 - 3 -Envio Convite INEMA.VIP futuros.json
{
  "name": "nm81 - 3 -Envio Convite INEMA.VIP futuros",
  "nodes": [
    {
      "parameters": {},
      "id": "e3dba303-71bb-47b6-b742-fd7270fdaa0c",
      "name": "Start Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -288
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pessoas_fisicas",
        "limit": 30,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "convites_enviados",
              "condition": "eq",
              "keyValue": "0"
            }
          ]
        }
      },
      "id": "531ce96c-e4fd-4fd0-ba41-d3865b65949f",
      "name": "Buscar Pessoas (Sem Envio)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        176,
        -272
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "3afd73f4-0c9b-4795-b7b2-410b71747905",
      "name": "Dividir em Lotes (10)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        400,
        -288
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Convite INEMA.VIP - Você fez Parte 2025 ",
        "message": "==\nOlá {{ $json.nome }},\n\nVocê agora faz parte da fundação de uma nova era — um movimento de aprendizado, automação e transformação com Inteligência Artificial.\n\nComo membro pioneiro da comunidade INEMA.VIP, você se torna padrinho oficial de nossa jornada de evolução humana e tecnológica.  \nSua missão é simples: compartilhar o conhecimento e convidar pessoas que, assim como você, desejam crescer e se transformar.\n\nCada padrinho tem direito a 5 convites gratuitos válidos até o final de novembro.  \nEnvie este link para seus convidados se cadastrarem:\n\n🔗 https://inema.vip/convite.html?pid={{ $json.pid }}\n\nAo acessar o link, o convidado encontrará um espaço inspirador de aprendizado com foco em:\n🌐 Comunicação com as Máquinas (FEP – Engenharia de Prompts)  \n⚙️ Automação Empreendedora (FAE – Sucesso com Automações)  \n🧠 Influência e Comportamento Humano (FNCIA – Neurociência Aplicada)\n\n---\n\nJuntos, vamos moldar o futuro com propósito e consciência.  \nObrigado por ser parte dessa história.\n\nCom gratidão,  \nComunidade INEMA.VIP \nNei Maldaner – Incentivador  \nAutoaprendizado, Inovação e Evolução Humana\n",
        "toList": [
          "={{ $json.email_Id }}"
        ],
        "additionalFields": {}
      },
      "id": "aa83552f-ce7c-4920-8b0f-906230048977",
      "name": "Enviar E-mail Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        848,
        -352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "WJ4fjDW0dBOMIuRx",
          "name": "Gmail INEMATDS - TEC"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 20) + 45 }}",
        "unit": "seconds"
      },
      "id": "58515709-39cc-45b8-9669-9dd349f20da5",
      "name": "Esperar 25s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1296,
        -352
      ],
      "webhookId": "f6b10c3f-4ca7-41ae-87b9-b91daf6569db"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "update",
        "tableId": "pessoas_fisicas",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.email_Id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "convites_enviados",
              "fieldValue": "=5"
            },
            {
              "fieldId": "data_ultimo_envio",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "113adf83-80ad-4b28-b723-2a65f4f2b7a0",
      "name": "Atualizar Envio no Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1072,
        -352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "m2NeTLsw3SoLf2IP",
          "name": "Supabase FTD Email Base"
        }
      }
    },
    {
      "parameters": {},
      "id": "b83f4c07-dd93-4e8a-b077-8ded89c41734",
      "name": "Próximo Lote",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        -288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0fe028b-c579-4bed-9b62-c301337e0a35",
              "name": "email_Id",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "cc843bc8-2f73-4863-8243-4b081147e4c3",
              "name": "pid",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "1b0ff69d-b323-4dd1-81d1-9fe473f2cf50",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -352
      ],
      "id": "d6f21da5-48ce-4ab5-b690-a9f837284b85",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        -96
      ],
      "id": "b81d090e-1e06-4535-97fa-99d871b0cdac",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Manual": {
      "main": [
        [
          {
            "node": "Buscar Pessoas (Sem Envio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pessoas (Sem Envio)": {
      "main": [
        [
          {
            "node": "Dividir em Lotes (10)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir em Lotes (10)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar E-mail Gmail": {
      "main": [
        [
          {
            "node": "Atualizar Envio no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 25s": {
      "main": [
        [
          {
            "node": "Próximo Lote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Envio no Supabase": {
      "main": [
        [
          {
            "node": "Esperar 25s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Próximo Lote": {
      "main": [
        [
          {
            "node": "Dividir em Lotes (10)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enviar E-mail Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Pessoas (Sem Envio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b8fa8d4-8094-4eaf-ad64-8e610af12250",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "099f1e1befc36cb37426544d3db2ed3a697cbeabeec5e3f29e2e2beeccc011e0"
  },
  "id": "fQBF4YWu6A73JN0o",
  "tags": []
}